@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');

body{
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.index_main_section{
  background-color: black;
  width: 100%;
   height: auto;

}
.seconndpage{
   background-color:black;
  width: 100%;
   height: auto;

}
.thirddpage{
  background-color: black;
  width: 100%;
   height: auto;
}
.fourthhpage{
  background-color: black;
  width: 100%;
   height: auto;
 }


.rotate{
  transform: rotateZ(90deg);
}

.padding{
  padding: 15px;
  padding-left: 5px;
}

.responsiveness {
  width: 100%;
}

.margin{
 margin-top: 5px;
 margin-bottom: 10px;
 
}
h1 {
  color: black;
  text-align: center;
  font-size: 45px;
  text-align: center;
}

p {
  font-family: 'Public Sans', sans-serif; ;
  font-size: 25px;
  color:green;
}

h2{
  font-family: 'Public Sans', sans-serif;
  font-size: 35px;
  color: white;
}

ul{
  font-family: 'Public Sans', sans-serif;
  font-size: 30px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background: green;

}

li{
  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  color: black;
  list-style-type: none;
  grid-row: auto;
}

a{
  color: white;
  text-decoration: none;
  font-size: 2em;

}

.hidden{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
